// Custom Properties (Variables)
$theme: rgb(231, 241, 238); /* Default theme color */
$font-color: #18eddb; /* Default font color */

// Mixin for Theme Background
@mixin theme-background {
  background-color: $theme;
}

// Styles for .app-container and Card
.app-container {
  @include theme-background;
  color: $font-color;
  /* ... rest of your .app-container styles ... */
}

.card {
  @include theme-background;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: $font-color;
  /* ... rest of your .card styles ... */
}

// Custom Button Styles
.primary-button {
  @include theme-background;
  background-color: #fc09cc;
  color: #fff;
}

.secondary-button {
  @include theme-background;
  background-color: #0088ff;
  color: $font-color;
}

.button {
  /* Styles for buttons with the "button" class */
  background-color: #0088ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
